<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-body">
    <%= yield :sorted%>
  </div>
  <div class="card-body">
    <%= yield :clear%>
  </div>
</div>
<div class="card mb-4 rounded-3 shadow-sm">
  <div class="card-body">
    <%= yield :avg%>
  </div>
</div>