<div class="bubble-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">О Программе!!!</h1>
  <div class=" mx-auto">
    <p class="fs-5 text-body-secondary p-3 pb-md-4 mx-auto text-center">
      Web приложение, написанное на Ruby On Rails с использованием Bootstrap 5, для "пузырьковой" сортировки данных, а также, генерации рандомных масивов данных, с последующей их сортировкой.
    </p>
  </div>
  <h3>Разработчик: </h3>
  <p>
  </p>
  <p>
    <img class="img-fluid"  <%= image_tag("NeptuneNoiseLogo.png", size: "275x25")%>
  </p>

</div>