<div class="bubble-header p-3 pb-md-4 mx-auto text-center">
  <p class="fst-normal text-body-bold">История версий</p>
  <p class="fst-normal text-body-secondary"><%= render :file => 'version.txt' %></div>