<div class=" mx-auto">
  <p class="fs-5 fw-bold">История версий:</p>
</div>
<div>
  <table class="table">
    <tr class="success">
      <td class="fw-bold">Version 0.110</td>
      <td class="fst-italic">Отладка и оптимизация веб интерфейса. Добавлена история версий.</td>
    </tr>
    <tr class="success">
      <td class="fw-bold">Version 0.111</td>
      <td class="fst-italic">Добавленны сообщения в формах. Изменен подход к отображению изменения версий.
        Удаленны ненужные ссылки и добавленны привязки ссылок в шапке сайта</td>
    </tr>
    <tr class="success">
      <td class="fw-bold">Version 0.112</td>
      <td class="fst-italic">Все ссылки теперь работают. Добавлен элемент "Work in progress"
        для страниц которые планируют быть задействованны в будующем</td>
    </tr>
  </table>
</div>
