<main>
  <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <%= yield :input%>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
          <%= yield :result%>
        </div>
      </div>
    </div>
  </div>
</main>