<div class="bubble-header p-3 pb-md-4 mx-auto text-center">
  <hr>
  <h3>Разработчик: </h3>
  <p>
  </p>
  <p>
    <img class="img-fluid"  <%= image_tag("NeptuneNoiseLogo.png", size: "275x25")%>
  </p>
  <hr>
</div>