<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">

      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img <%= image_tag("Chell_Logo.png", size: "125x125")%>
        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" class="me-2" viewBox="0 0 118 94" role="img"><title>BubbleWeb</title><path fill-rule="evenodd" clip-rule="evenodd" d="" fill="currentColor"></path></svg>
        <span class="fst-italic">Bubble Web Project</span>
      </a>

      <small class="d-block mb-3 text-body-secondary">&copy; 2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
