<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="img-fluid" <%= image_tag("Chell_Logo.png", size: "125x125")%>
      <h2>Random Massive Data</h2>
      <p class="lead">Enter parameters for random massive and sorted it!!!</p>
    </div>
    <div class="row g-5">
      <%= render partial:'random/partials/parameters_form'%>
      <div class="col-md-7">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your Result</span>
        </h4>
        <%= render partial:'random/partials/result_screen'%>
          <div class="row g-3">
          </div>
          <br>
          <br />
      </div>
    </div>
  </main>
</div>