<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="img-fluid" <%= image_tag("Chell_Logo.png", size: "125x125")%>
      <h2>Random Massive Data</h2>
      <p class="lead">Enter parameters for random massive and sorted it!!!</p>
    </div>
    <div class="row g-7">
      <div class="col-md-7">
        <h4 class="mb-3">Massive Parameters</h4>
        <%= render partial:'random/partials/parameters_form'%>
          <div class="row g-3">
          </div>
          <br>
          <br />
      </div>
      <%= render partial:'random/partials/result_screen'%>
    </div>
  </main>
</div>