<div class="bubble-header p-3 pb-md-4 mx-auto text-center">
  <container>
    <img class="img-fluid" <%=image_tag("work_in_progress.png", size: "440x200")%>
    <p class="fs-1 fw-bold">Work in Progress</p>
  </container>
</div>