<!DOCTYPE html>
<html>
<%= render partial:'partials/page_head'%>
<body>
<div class="container py-3">
  <%= render partial:'partials/page_header'%>
  <%= render partial:'partials/work_in_progress'%>
  <%= render partial:'partials/page_footer'%>
</div>
</body>
</html>